<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 glass" >
        <mat-card>
          <mat-card-content>
            <mat-form-field>
              <input matInput placeholder="UserName">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Password">
            </mat-form-field>
            <br>
              <a style="font-size: 12px;float:right;color:indigo;cursor:pointer;">
                <fa-icon [icon]="['fas', 'question-circle']"></fa-icon> Forgot Password
              </a>
            <br><br>
            <button mat-raised-button color="primary" style="width:100%;">LOGIN</button>
            <br><br>
            <a style="font-size: 12px;float:right;color:indigo;cursor:pointer;"><strong>Not a member ?</strong> <span>Sign Up</span>  </a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
