<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align:center;">
    <span class="mat-display-1">Helper Classes</span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <mat-tab-group>
      <mat-tab label="Padding & Margin Helpers">
        Padding Helpers
        <br>
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-xs-7 col-sm-7 col-md-7 ccol-lg-7 col-xl-7">
                  <span class="p-0">p-0</span>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <mat-card style="background-color: black;color:white;">
                  <mat-card-content>
                      {{context1}}
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                  <span>Min:0 - Max:256, Multiples of 4</span>
                  <br>
                  <span class="p-4">p-4</span>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <mat-card style="background-color: black;color:white;">
                  <mat-card-content>
                      {{context2}}
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <br>
          </mat-card-content>
        </mat-card>
        <br>
        Direction specific Padding Helpers
        <br>
        <mat-card>
          <mat-card-content>
            <span>Min:0 - Max:256, Multiples of 4</span>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <span class="pt-0">pt-0</span>
                    <br>
                    <span class="pr-0">pr-0</span>
                    <br>
                    <span class="pb-0">pb-0</span>
                    <br>
                    <span class="pl-0">pl-0</span>
                    <br>
                    <span class="px-0">px-0</span>
                    <br>
                    <span class="py-0">py-0</span>
                    <br>
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                        {{context3}}
                        <br>
                        {{context4}}
                          <br>
                        {{context5}}
                          <br>
                        {{context6}}
                        <br>
                        {{context7}}
                        <br>
                        {{context8}}
                        <br>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-content>
            <span>Min:0 - Max:256, Multiples of 4</span>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <span class="pt-4">pt-4</span>
                    <br>
                    <span class="pr-4">pr-4</span>
                    <br>
                    <span class="pb-4">pb-4</span>
                    <br>
                    <span class="pl-4">pl-4</span>
                    <br>
                    <span class="px-4">px-4</span>
                    <br>
                    <span class="py-4">py-4</span>
                    <br>
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                        {{context9}}
                        <br>
                        {{context10}}
                          <br>
                        {{context11}}
                          <br>
                        {{context12}}
                        <br>
                        {{context13}}
                        <br>
                        {{context14}}
                        <br>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        Margin Helpers
        <br>
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-xs-7 col-sm-7 col-md-7 ccol-lg-7 col-xl-7">
                  <span class="m-0">m-0</span>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <mat-card style="background-color: black;color:white;">
                  <mat-card-content>
                      {{context27}}
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                  <span>Min:0 - Max:256, Multiples of 4</span>
                  <br>
                  <span class="m-4">m-4</span>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <mat-card style="background-color: black;color:white;">
                  <mat-card-content>
                      {{context28}}
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <br>
          </mat-card-content>
        </mat-card>
        <br>
        Direction specific Margin Helpers
        <br>
        <mat-card>
          <mat-card-content>
            <span>Min:0 - Max:256, Multiples of 4</span>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <span class="mt-0">mt-0</span>
                    <br>
                    <span class="mr-0">mr-0</span>
                    <br>
                    <span class="mb-0">mb-0</span>
                    <br>
                    <span class="ml-0">ml-0</span>
                    <br>
                    <span class="mx-0">mx-0</span>
                    <br>
                    <span class="my-0">my-0</span>
                    <br>
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                        {{context29}}
                        <br>
                        {{context16}}
                          <br>
                        {{context17}}
                          <br>
                        {{context18}}
                        <br>
                        {{context19}}
                        <br>
                        {{context20}}
                        <br>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-content>
            <span>Min:0 - Max:256, Multiples of 4</span>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <span class="mt-4">mt-4</span>
                    <br>
                    <span class="mr-4">mr-4</span>
                    <br>
                    <span class="mb-4">mb-4</span>
                    <br>
                    <span class="ml-4">ml-4</span>
                    <br>
                    <span class="mx-4">mx-4</span>
                    <br>
                    <span class="my-4">my-4</span>
                    <br>
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                        {{context21}}
                        <br>
                        {{context22}}
                          <br>
                        {{context23}}
                          <br>
                        {{context24}}
                        <br>
                        {{context25}}
                        <br>
                        {{context26}}
                        <br>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
      </mat-tab>
      <mat-tab label="Width & Height Helpers">
        Width Helpers
        <br>
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    w-0
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                  <mat-card style="background-color: black;color:white;">
                    <mat-card-content>
                        {{context30}}
                    </mat-card-content>
                  </mat-card>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    Min:0 - Max:512, Multiples of 4
                    <br>
                    w-100
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                          {{context31}}
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    Min:0 - Max:100, Multiples of 5
                    <br>
                    w-25-p
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                          {{context32}}
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    Min:0 - Max:100, Multiples of 5
                    <br>
                    w-100-p
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                          {{context33}}
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </mat-card-content>
        </mat-card>
        Height helpers
        <br>
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    h-0
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                          {{context34}}
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    Min:0 - Max:512, Multiples of 4
                    <br>
                    h-100
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                          {{context35}}
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    Min:0 - Max:100, Multiples of 5
                    <br>
                    h-25-p
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                          {{context36}}
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    Min:0 - Max:100, Multiples of 5
                    <br>
                    h-100-p
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <mat-card style="background-color: black;color:white;">
                      <mat-card-content>
                          {{context37}}
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
